<%- include('../partials/client_partials/header.ejs') %>
<%- include('../partials/client_partials/nav.ejs') %>
<style>
    .center-box{
        width: 800px;
        padding: 10px;
    }
    .dent{
        background-color: white;
        border-radius: 12px 12px 0px 0px;
        border-top: 1px solid #ECECEC;
        border-right: 1px solid #ECECEC;
        border-left: 1px solid #ECECEC;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 10px 20px 0px 20px;
        font-size: 14pt;
        margin-top: auto;
        text-align: center;
    }
    .tile-box{
        background-color: white;
        width: 100%;
        border-radius: 0px 10px 10px 10px;
        padding: 20px;
    }
    .header-box{
        display: flex;
        flex-direction: row;
    }
    .tile{
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
        width: 100%;
        border-radius: 6px;
        margin-bottom: 20px;
    }
    .tile .header{
        border-radius: 6px 6px 0px 0px;
        background-color: #6926D7;
        padding: 6px 20px 6px 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        color: white;
    }
    .order-details{
        padding: 20px;
    }
    .product-list{
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.07);
        background-color: #FBFBFB;
        padding: 10px;
    }
    .product-list span{
        margin-left: 5px;
        display: flex;
        flex-direction: column;
    }
</style>
<body>
    <div class="d-flex justify-content-center">
            <div class="center-box">
                <div class="header-box">
                    <div class="dent">
                        <i class="fas fa-history" style="color: #8d21c0;margin:5px"></i>
                        <p>Seu histórico de pedidos</p>
                    </div>
                </div>
                <div class="tile-box">
                    <% const hasOrders = customer.orders.some(order => true); %>
                    <% if(hasOrders){ %>                   
                    <% customer.orders.forEach(order => { %>
                        <div class="tile">
                            <div class="header">
                                <span>ID: <%= order.id %></span>
                                <span id="status-textDelivery-<%= order.id %>"><%- order.delivered ?'<i class="fas fa-dolly" style="color:#10cf10;font-size: 22px"></i>'+' Pedido entregue' :'<i class="fas fa-dolly" style="color:#fb0909;font-size: 22px"></i>' + ' Entrega pendente' %></span>
                                <span id="status-text-<%= order.id %>"><%- order.payed ? '<i class="fas fa-money-check-alt" style="color: #10cf10;font-size: 22px;"></i>'+' Pedido pago' : '<i class="fas fa-money-check-alt" style="color: #fb0909;font-size: 22px;"></i>'+' Aguardando pagamento' %></span>
                            </div>
                            <div class="order-details">
                                <% if (customer.orders.length > 0) { %>
                                    <% const createdAt = order.createdAt; %>
                                    <% const day = createdAt.getDate().toString().padStart(2, '0'); %>
                                    <% const month = (createdAt.getMonth() + 1).toString().padStart(2, '0'); %>
                                    <% const year = createdAt.getFullYear().toString(); %>
                                    <% const hours = createdAt.getHours().toString().padStart(2, '0'); %>
                                    <% const minutes = createdAt.getMinutes().toString().padStart(2, '0'); %>
                                    <p>Data do pedido: <%= day %>/<%= month %>/<%= year %> - <%= hours %>:<%= minutes %></p>
                                  <% } else { %>
                                    Data não encontrada
                                  <% } %>
                                <div class="product-list">
                                    <p>Produtos</p>
                                    <% const product_list = JSON.parse(order.product_list); %>
                                    <% let totalValue = 0; %>
                                    <% let totalprodutos = 0; %>
                                    <% product_list.forEach(product => { %>
                                        <span><%= product.product %> x <%= product.quantity %></span>
                                      <% totalValue += product.quantity * product.uniPrice; %>
                                      <% totalprodutos += product.quantity; %>
                                    <% }); %>
                                </div>
                                <br>
                                <p>Observação: <%=order.observation%> </p>
                                <hr>
                                <label>Valor Total:</label>
                                <span>R$ <%= totalValue.toFixed(2) %></span>
                            </div>
                        </div>
                    <% }); %>
                    <% } else { %>
                        <p>Você não tem pedidos ativos no momento</p>
                        <% } %>
                </div>
            </div>
    </div>
</body>

<%- include('../partials/client_partials/footer.ejs') %>